.amit{
    background-image: url(https://wallpaperaccess.com/full/1644067.jpg);
    text-align: center;
    text-indent: 100;

    background-attachment: fixed;

}
.amit2{
    background-image: url(https://i.pinimg.com/564x/3b/39/2b/3b392be0ffe869c1c036ace3277f88c6.jpg);
    text-align: center;
    
}
.amit3{
float: left;
}
div{
    background-color: mediumorchid;
}
.amit4{
    background-image: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190622/ourmid/pngtree-graduation-season-banner-image_233361.jpg);

}
.amit6{
    float: right;
}
.amit5{
    background-color: skyblue;
    padding-bottom: 9%;
    padding-top: 1%;
}
.amit7{
    background-color:olive;
}
.amit8{
    background-color:yellow ;
}